
div.lay_21_1, div.lay_21_2{
	width: 98%;
	height: 46%;
	margin: 2%;
}

div.lay_22_1, div.lay_22_2{
	height: 98%;
	width: 48%;
	margin: 1%;
}

div.lay_22_1,div.lay_22_2{float: left;}

div.lay_31_1,div.lay_31_2,div.lay_31_3{
	width: 98%;
	height: 31%;
	margin: 1% 2% 2% 2%;
}

div.lay_32_1,div.lay_32_2,div.lay_32_3{
	width: 30%;
	height: 98%;
	margin: 2% 1% 2% 2%;
}

div.lay_32_1,div.lay_32_2,div.lay_32_3{float: left;} 

div.lay_33_1{
	width: 98%;
	height: 48%;
	margin: 1%;
}

div.lay_33_2,div.lay_33_3{
	height: 48%;
	width: 48%;
	margin: 1% 1% 1% 1%;
}
div.lay_33_2,div.lay_33_3{float: left;} 

div.lay_34_1,div.lay_34_2{
	height: 48%;
	width: 48%;
	margin: 1% 1% 2% 1%;
}
div.lay_34_1,div.lay_34_2{float: left;} 

div.lay_34_3{
	width: 98%;
	height: 48%;
	margin: 1%;
	clear: both;
}

div.lay_35_1{
	width: 48%;
	height: 98%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_35_2,div.lay_35_3{
	width: 48%;
	height: 48%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_36_2,div.lay_36_3{
	width: 48%;
	height: 48%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_36_1{
	width: 48%;
	height: 98%;
	margin: 1% 1% 1% 1%;
	float: right;
}

div.lay_41_1,div.lay_41_4{
	height: 48%;
	width: 69%;
	margin: 1% 2% 1% 2%;
	float: left;
}
div.lay_41_2,div.lay_41_3{
	height: 48%;
	width: 25%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_42_1, div.lay_42_2,div.lay_42_3, div.lay_42_4{
	height: 98%;
	width: 23%;
	margin: 1%;
	float: left;
}

div.lay_43_1, div.lay_43_2,div.lay_43_3, div.lay_43_4{
	height: 23%;
	width: 98%;
	margin: 1% 1% 2% 1%;
}

div.lay_44_1, div.lay_44_4{
	height: 30%;
	width: 98%;
	margin: 1% 1% 2% 1%;
}

div.lay_44_2, div.lay_44_3{
	height: 30%;
	width: 48%;
	margin: 1% 1% 3% 1%;
	float:left;
}

div.lay_44_4{
	clear:both;
}

div.lay_45_1 {
	height: 30%;
	width: 98%;
	margin: 1% 1% 2% 1%;
}

div.lay_45_2{
	height: 63%;
	width: 48%;
	margin: 1% 1% 1% 1%;
	float:left;
} 

div.lay_45_3, div.lay_45_4{
	height: 30%;
	width: 48%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_46_1,div.lay_46_2{
	width: 30%;
	height: 98%;
	margin: 1% 2% 1% 1%;
	float:left;
}

div.lay_46_3,div.lay_46_4{
	width: 30%;
	height: 48%;
	margin: 1% 2% 2% 1%;
	float:left;
}

div.lay_51_1,div.lay_51_2,div.lay_51_3{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_51_4{
	width: 31%;
	height: 64%;
	margin: 1% 1% 1% 1%;
	float:left;
}

div.lay_51_5{
	width: 64%;
	height: 64%;
	margin: 1% 1% 1% 1%;
	float:right;
}

div.lay_52_1{
	width: 98%;
	height: 30%;
	margin: 1% 2% 2% 1%;	
}

div.lay_52_2,div.lay_52_3{
	width: 47%;
	height: 30%;
	margin: 1% 2% 2% 2%;	
	float:right;
}

div.lay_52_4,div.lay_52_5{
	width: 48%;
	height: 30%;
	margin: 3% 2% 2% 1%;
}

div.lay_53_1{
	width: 30%;
	height: 98%;
	margin: 1% 2% 2% 1%;	
	float:left;
}

div.lay_53_2,div.lay_53_3{
	width: 30%;
	height: 48%;
	margin: 1% 1% 1% 1%;	
	float:left;
}

div.lay_53_4,div.lay_53_5{
	width: 30%;
	height: 48%;
	margin: 1% 1% 1% 1%;
	float:left;
}

div.lay_54_1{
	width: 60%;
	height: 98%;
	margin: 1% 2% 2% 1%;	
	float:left;
}

div.lay_54_2,div.lay_54_3,div.lay_54_4,div.lay_54_5{
	width: 30%;
	height: 22%;
	margin: 1% 1% 1% 1%;	
	float:left;
}

div.lay_55_1{
	width: 98%;
	height: 60%;
	margin: 1% 2% 2% 1%;	
	float:left;
}

div.lay_55_2,div.lay_55_3,div.lay_55_4,div.lay_55_5{
	width: 23%;
	height: 35%;
	margin: 1% 1% 1% 1%;	
	float:left;
}

div.lay_56_1,div.lay_56_2,div.lay_56_3,div.lay_56_4{
	width: 23%;
	height: 35%;
	margin: 1% 1% 1% 1%;	
	float:left;
}

div.lay_56_5{
	width: 98%;
	height: 60%;
	margin: 1% 2% 2% 1%;	
	float:left;
}

div.lay_61_1{
	width: 64%;
	height: 64%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_61_2,div.lay_61_3,div.lay_61_6,div.lay_61_5{
	width: 31%;
	height: 31%;
	margin: 1% 1% 1% 1%;
	float:right;
}

div.lay_61_4{
	width: 31%;
	height: 31%;
	margin-top: 1%;
	margin-left: 3%;
	float:right;
}

div.lay_62_1,div.lay_62_2,div.lay_62_3,div.lay_62_4,div.lay_62_5,div.lay_62_6{
	width: 48%;
	height: 30%;
	margin: 1% 1% 2% 1%;	
	float:left;	
}

div.lay_63_1{
	width: 98%;
	height: 30%;
	margin: 1% 1% 2% 1%;
}

div.lay_63_2,div.lay_63_3{
	width: 48%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_63_4,div.lay_63_5,div.lay_63_6{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_64_1,div.lay_64_2,div.lay_64_3,div.lay_64_5,div.lay_64_6{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_64_4{
	width: 64%;
	height: 63%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_71_1{
	width: 31%;
	height: 62%;
	margin: 1% 1% 2% 1%;
	float:right;
}

div.lay_71_2,div.lay_71_3,div.lay_71_4,div.lay_71_5{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_71_6{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:right;
}
div.lay_71_7{
	width: 64%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_72_1{
	width: 31%;
	height: 96%;
	margin: 1% 1% 2% 1%;
	float:right;
}

div.lay_72_2,div.lay_72_3,div.lay_72_4,div.lay_72_5,div.lay_72_6,div.lay_72_7{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float:left;
}

div.lay_73_1,div.lay_73_2,div.lay_73_3,div.lay_73_5,div.lay_73_6,div.lay_73_7{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float: left;
}

div.lay_73_4{
	width: 96%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float: left;
}

div.lay_74_1,div.lay_74_7{
	width: 64%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float: right;	
}

div.lay_74_2{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;	
}

div.lay_74_3,div.lay_74_4,div.lay_74_5{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;
	float: left;
}

div.lay_74_6{
	width: 31%;
	height: 30%;
	margin: 1% 1% 2% 1%;	
	float: right;
}
