div#header{
	background-color: #4E89BD;
	margin: 0;
	color: white;
	height: 100px;
	padding: 2%;
}

div#header h1{
	margin: 0;
}

div.layout_group,div#layout_main_container{display: none;}
div#group_2{display: block;}

div.button_container{
	width: 80%;
	margin:5% 10% 5% 10%;
	text-align: right;
}

div.photo_layout_example{
	height: 150px;
	width: 150px;
	background-color: #fff;
	display: inline-block;
	margin: 2%;
	padding: 1%;
	cursor: pointer;
}

div.photo_layout_example > div{
	background-color: #D090D7;
}

div#photo_layout_main{
	height: 400px;
	width: 400px;
	background-color: #fff;
	display: inline-block;
	margin: 2%;
	padding: 1%;	
}

div#photo_layout_main > div{
	background-color: #D090D7;
}

div.selected{
	border: 2px solid #e05158;
}

.upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; 
}

#lbl_upload{
	line-height: 60px;
	padding-left: 60px;
	background: url("upload_icon.png") no-repeat scroll 0 0 transparent;	
}


.upload:focus + label,
.upload + label:hover {
    background-color: red;
}

.upload:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


.thumb {
	height: 100%;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}




div.lay_21_1, div.lay_21_2{
	width: 98%;
	height: 48%;
	margin: 2%;
}

div.lay_22_1, div.lay_22_2{
	height: 98%;
	width: 48%;
	margin: 1%;
}

div.lay_22_1,div.lay_22_2{float: left;}

div.lay_31_1,div.lay_31_2,div.lay_31_3{
	width: 98%;
	height: 31%;
	margin: 1% 2% 2% 2%;
}

div.lay_32_1,div.lay_32_2,div.lay_32_3{
	width: 30%;
	height: 98%;
	margin: 2% 1% 2% 2%;
}

div.lay_32_1,div.lay_32_2,div.lay_32_3{float: left;} 

div.lay_33_1{
	width: 98%;
	height: 48%;
	margin: 1%;
}

div.lay_33_2,div.lay_33_3{
	height: 48%;
	width: 48%;
	margin: 1% 1% 1% 1%;
}
div.lay_33_2,div.lay_33_3{float: left;} 

div.lay_34_1,div.lay_34_2{
	height: 48%;
	width: 48%;
	margin: 1% 1% 2% 1%;
}
div.lay_34_1,div.lay_34_2{float: left;} 

div.lay_34_3{
	width: 98%;
	height: 48%;
	margin: 1%;
	clear: both;
}

div.lay_35_1{
	width: 48%;
	height: 98%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_35_2,div.lay_35_3{
	width: 48%;
	height: 48%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_36_2,div.lay_36_3{
	width: 48%;
	height: 48%;
	margin: 1% 1% 1% 1%;
	float: left;
}

div.lay_36_1{
	width: 48%;
	height: 98%;
	margin: 1% 1% 1% 1%;
	float: right;
}



