body{
	background-image: url('img/gray_jean.png');
}
div#header{
	margin: 0;
	color: white;
	height: 80px;
	padding: 2%;
	background-color:#005E9D;
}

.row{
	text-align: center;
}

div#header h1{
	margin: 0;
}
span#camera_icon{
	font-size: 30px;
}

div.filters_group{
	max-height: 420px;
	padding-top: 15px;
	background-image: url('img/ep_naturalblack.png');
}

div.filter_sample{
	text-align: center;
	float:left;
	cursor: pointer;
}

div.filter_thumbnail{	
	background-image: url("img/sky.jpg");
	max-width:200px;
    margin: 0 auto;
	height: 80px;	
}

span.filter_name{
	text-transform:capitalize;
	color:#fff;
	font-weight:700;
}


div#settings{
	background-color: white;
	display: table-cell;
	height: 50vh;
}

#layout_main_container{
	text-align: center;
}

.top_container{
	padding: 0px 10% 0px 10%;
	margin:5px;
}

div.button_container{
	width: 80%;
	margin:0% 10% 5% 10%;
	text-align: center;
}

#download{visibility:hidden;}
div.layout_group,div#step_2{display: none;}
div#group_2{display: block;}

div#step_3{width: 100%;}

div.photo_layout_example{
	height: 150px;
	width: 200px;
	background-color: #fff;
	display: inline-block;
	margin: 2%;
	padding: 1%;
	cursor: pointer;
	border: #D8D8D8 1px solid;
}

div.photo_layout_example > div{
	background-color: #E5CE57;
}

div#photo_layout_main{
	height: 400px;
	width: 600px;
	background-color: #fff;
	display: inline-block;
	margin: 15px;
	padding: 15px;
	border: #D8D8D8 1px solid;
}

.photo{
	background-color: #FFFBD0;
	z-index: 10;
	overflow: hidden;
}

.draggable_photo {
	z-index: 9;
	height: 100%;
	margin: 10px 5px 0 0;
	cursor: move;
	position: relative;
	top: -100px;
	left: -50px;
}

.close_icon{
	z-index: 10;
	position: absolute;
	cursor: pointer;
	display: none;
	height: 25px;
}

div.selected{
	border: 2px solid #e05158;
}


/**** STYLES FOR CHOOSE FILE BUTTONS ****/

.upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; 
}

#lbl_upload{
	line-height: 60px;
	padding-left: 60px;
	background: url("upload_icon.png") no-repeat scroll 0 0 transparent;	
}
.upload:focus + label,
.upload + label:hover {
    background-color: red;
}
.upload:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

